<!DOCTYPE html>
<html lang="ja" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>My blog</title>
  </head>
  <body>
    <div>
        <h1><a href="/">Django Blog</a></h1>
    </div>

{% for post in posts %}
    <div>
        <p>published: {{ post.published_date }}</p>
        <h2><a href="">{{ post.title }}</a></h2>
        <p>{{ post.text|linebreaksbr }}</p>
    </div>
{% endfor %}

    <div>
        <p>published: 14.12.2019, 12:14</p>
        <h2><a href="">My first post</a></h2>
        <p>こんにちは！ よろしくお願いします！ </p>
    </div>

    <div>
        <p>公開日: 2014/06/14, 12:14</p>
        <h2><a href="">2番目の投稿</a></h2>
        <p> こんにちは！ よろしくお願いします！ </p>
    </div>
  </body>
</html>
